In [7]:
# Import the required libraries and dependencies
import pandas as pd

import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import hvplot.pandas
import json
import dataframe_utils

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

%matplotlib inline

## Read in the csv and evaluate missing values

In [6]:
def prt_sep():
    print("")
    print("-----------------------------------------------------------------------------------------------")
    print("")


def df_characteristics(df):
    print("df.head")
    display(df.head())
    prt_sep()
    print("df.info")
    display(df.info())
    prt_sep()
    print("df.describe()")
    display(df.describe())
    prt_sep()
    print("df.isnull().sum()")
    display(df.isnull().sum())
    prt_sep

df = pd.read_csv("Resources/account_predict_data.csv")

df_characteristics(df)
prt_sep()

df.head

,gender,tenure,phone_services,internet_services,contract_duration,payment_method,number_customer_service_calls,phone_min,internet_min,phone_monthly_charges,...,churn,trigger_point,churn_surv,uuid,trigger_price,trigger_quality,trigger_external,cluster,treatment,churn_after_treatment
0,Female,1,1,1,short-term,mail,2,112.236770,5913.555587,19.082281,...,0,0.0,0.0,95475c60-febf-11ec-ac44-0242ac1c0002,0,0,0,6,NaN,0
1,Male,1,1,1,short-term,email,1,122.333978,3888.080228,20.798307,...,0,0.0,0.0,95475cd8-febf-11ec-ac44-0242ac1c0002,0,0,0,6,NaN,0
2,Male,1,0,1,short-term,mail,2,0.000000,2941.437280,0.000000,...,0,0.0,0.0,95475dc8-febf-11ec-ac44-0242ac1c0002,0,0,0,4,NaN,0
3,Female,1,1,1,short-term,mail,2,115.213725,4417.942375,19.589318,...,0,0.0,0.0,95475eae-febf-11ec-ac44-0242ac1c0002,0,0,0,6,NaN,0
4,Male,1,0,1,short-term,mail,2,0.000000,2790.804987,0.000000,...,0,0.0,0.0,954761ce-febf-11ec-ac44-0242ac1c0002,0,0,0,4,NaN,0

-----------------------------------------------------------------------------------------------

df.info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936 entries, 0 to 1935
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   gender                         1936 non-null   object
 1   tenure                         1936 non-null   int64
 2   phone_services                 1936 non-null   int64
 3   internet_services              1936 non-null   int64
 4   contract_duration              1936 non-null   object
 5   payment_method                 1936 non-null   object
 6   number_customer_service_calls  1936 non-null   int64
 7   phone_min                      1936 non-null   float64
 8   internet_min                   1936 non-null   float64
 9   phone_monthly_charges          1936 non-null   float64
 10  internet_monthly_charges       1936 non-null   float64
 11  avg_monthly_bill               1936 non-null   float64
 12  churn                          1936 non-null   int64
 13  trigger_point                  1936 non-null   float64
 14  churn_surv                     1936 non-null   float64
 15  uuid                           1936 non-null   object
 16  trigger_price                  1936 non-null   int64
 17  trigger_quality                1936 non-null   int64
 18  trigger_external               1936 non-null   int64
 19  cluster                        1936 non-null   int64
 20  treatment                      358 non-null    object
 21  churn_after_treatment          1936 non-null   int64
dtypes: float64(7), int64(10), object(5)
memory usage: 332.9+ KB

None

-----------------------------------------------------------------------------------------------

df.describe()

,tenure,phone_services,internet_services,number_customer_service_calls,phone_min,internet_min,phone_monthly_charges,internet_monthly_charges,avg_monthly_bill,churn,trigger_point,churn_surv,trigger_price,trigger_quality,trigger_external,cluster,churn_after_treatment
count,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000,1936.000000
mean,32.353306,0.888430,0.772211,1.584194,109.665416,5312.910818,18.643358,43.339698,58.544778,0.256198,3.383264,0.100207,0.112603,0.054752,0.107438,4.574897,0.210744
std,24.464438,0.314918,0.419514,1.423733,40.301339,3871.481389,6.851015,30.247872,30.742591,0.436645,9.806016,0.300353,0.316189,0.227554,0.309749,2.812591,0.407942
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.425000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.000000,1.000000,1.000000,1.000000,113.486967,1497.912137,19.294798,13.402809,25.009497,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000
50%,29.000000,1.000000,1.000000,1.000000,121.960452,5681.246249,20.735439,50.148717,59.633156,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000
75%,56.000000,1.000000,1.000000,2.000000,126.643477,8341.834292,21.540634,68.951465,85.608111,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000
max,72.000000,1.000000,1.000000,10.000000,178.695787,14097.710299,30.379789,97.670028,118.635230,1.000000,71.000000,1.000000,1.000000,1.000000,1.000000,9.000000,1.000000

-----------------------------------------------------------------------------------------------

df.isnull().sum()

gender                              0
tenure                              0
phone_services                      0
internet_services                   0
contract_duration                   0
payment_method                      0
number_customer_service_calls       0
phone_min                           0
internet_min                        0
phone_monthly_charges               0
internet_monthly_charges            0
avg_monthly_bill                    0
churn                               0
trigger_point                       0
churn_surv                          0
uuid                                0
trigger_price                       0
trigger_quality                     0
trigger_external                    0
cluster                             0
treatment                        1578
churn_after_treatment               0
dtype: int64

-----------------------------------------------------------------------------------------------

## clean up dataframe for churns and split into x and y dataframes
#### drop treatment because of missing values
#### drop uuid since it is not value added
#### any columns with trigger or cluster in the column names did not look promissing either.  We have not found a data dictionary.
#### churn goes in the y dataframe and all other predictor columns go into the x dataframe

In [25]:

# string columns need to be encoded. Let's find these.  We'll test all that are object type.
for the_col in df.columns:
    if df[the_col].dtype in ['o','O']:
        print("the uniqu values for ",the_col," are: ")
        print(df[the_col].unique())

# this gave me the unique values, let's enclode them
df['gender_encoded'] = df['gender'].map({'Female': 0, 'Male': 1})  
df['contract_duration_encoded'] = df['contract_duration'].map({'short-term': 0, 'long-term': 1})
df['payment_method_encoded'] = df['payment_method'].map({'mail': 0, 'email': 1, 'automatic transfer': 2})  

# df['gender_encoded','gender','contract_duration_encoded','contract_duration','payment_method_encoded','payment_method'].head()
df[['gender','gender_encoded','contract_duration_encoded','contract_duration', 'payment_method','payment_method_encoded']].tail(15)

the uniqu values for  gender  are:
['Female' 'Male']
the uniqu values for  contract_duration  are:
['short-term' 'long-term']
the uniqu values for  payment_method  are:
['mail' 'email' 'automatic transfer']
the uniqu values for  uuid  are:
['95475c60-febf-11ec-ac44-0242ac1c0002'
 '95475cd8-febf-11ec-ac44-0242ac1c0002'
 '95475dc8-febf-11ec-ac44-0242ac1c0002' ...
 '955b993c-febf-11ec-ac44-0242ac1c0002'
 '955b99b4-febf-11ec-ac44-0242ac1c0002'
 '955b9c0c-febf-11ec-ac44-0242ac1c0002']
the uniqu values for  treatment  are:
[nan 'upgrade_package' 'discount' 'free_device']

,gender,gender_encoded,contract_duration_encoded,contract_duration,payment_method,payment_method_encoded
1921,Male,1,1,long-term,mail,0
1922,Male,1,0,short-term,mail,0
1923,Female,0,0,short-term,automatic transfer,2
1924,Male,1,0,short-term,email,1
1925,Female,0,0,short-term,email,1
1926,Female,0,0,short-term,email,1
1927,Male,1,1,long-term,automatic transfer,2
1928,Female,0,1,long-term,email,1
1929,Male,1,1,long-term,automatic transfer,2
1930,Male,1,1,long-term,automatic transfer,2
1931,Female,0,1,long-term,email,1
1932,Male,1,1,long-term,mail,0
1933,Male,1,1,long-term,automatic transfer,2
1934,Male,1,1,long-term,mail,0
1935,Female,0,1,long-term,mail,0

In [61]:

# code based on output from ChatGPT
X2 = df.drop(['churn','treatment','uuid','trigger_price','trigger_point','trigger_quality','trigger_external','churn_after_treatment'], axis=1) 
# could have done this in one step, but doing another drop for the columns I just encoded.
X = X2.drop(['gender','contract_duration','payment_method'], axis=1)

# now define the y dataframe. initite it was only 'churn'
y = df['churn']

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initializing and training the logistic regression model
model = LogisticRegression(max_iter=2000)  # Increase max_iter if the model doesn't converge
model.fit(X_train, y_train)

# Making predictions
y_pred = model.predict(X_test)

# Evaluating the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Model Accuracy: {accuracy}")

Model Accuracy: 0.9053356282271945

## General investigations

In [71]:
def churn_accuracy_classifier(churn, pred_churn):
    if churn == 1:
        if pred_churn == 1:
            return "actually churned and predicted a churn"
        else:
            return "actually churned but predicted NO churn"
    else:
        # here churn was zero
        if pred_churn == 0:
            return "actually retained and predicted being retained"
        else:
            return "actually retained but predicted a churn"


# the concat below is largely generated by chatGPT
# convert y_test and y_pred to dataframes so they can be combined (concat) with the X_test dataframe
y_test_df = pd.DataFrame(y_test).reset_index(drop=True)

# Convert y_pred to a DataFrame
y_pred_df = pd.DataFrame(y_pred, columns=['y_predicted']).reset_index(drop=True)

# Combine X_test, y_test_df, and y_pred_df
combined_df = pd.concat([X_test.reset_index(drop=True), y_test_df, y_pred_df], axis=1)

# Assuming y_test was a Series and its name was 'actual_label', you might need to rename it
# If y_test didn't have a name or if you're using an array, replace 'actual_label' with the appropriate column name
# combined_df.rename(columns={0: 'y_test_maybe'}, inplace=True)
print("-----------------")
print("here is a sample from the combined_df (using the sample method)")
display(combined_df.sample(20))
prt_sep()
print("churn value counts on the orig df are...")
display(df[["churn"]].value_counts())
display(y_test_df[["churn"]].value_counts())

combined_df["predion_accuracy_by_type"] = combined_df[["churn","y_predicted"]].apply(lambda row: churn_accuracy_classifier(row['churn'], row['y_predicted']), axis=1)
print("here is the performance breakdown for the model performance for churning versus retained customers")
display(combined_df["predion_accuracy_by_type"].value_counts())

-----------------
here is a sample from the combined_df (using the sample method)

,tenure,phone_services,internet_services,number_customer_service_calls,phone_min,internet_min,phone_monthly_charges,internet_monthly_charges,avg_monthly_bill,churn_surv,cluster,gender_encoded,contract_duration_encoded,payment_method_encoded,churn,y_predicted
565,65,1,1,1,142.181777,8761.875916,24.171148,62.167851,78.806417,0.0,1,1,1,2,0,0
567,8,1,1,3,116.668286,4937.665219,19.834021,72.163824,79.349019,1.0,7,0,0,2,1,1
278,36,1,0,2,127.715053,0.000000,21.709420,0.000000,22.652747,0.0,3,1,1,2,0,0
115,20,1,1,3,108.352055,8826.518945,18.416421,65.620466,81.316495,0.0,2,1,0,1,0,0
306,35,1,0,0,135.594950,0.000000,23.037687,0.000000,18.639975,0.0,3,1,0,2,0,0
394,1,1,0,1,115.613168,0.000000,19.657314,0.000000,9.528000,0.0,3,1,0,2,0,0
195,43,0,1,2,0.000000,2715.558859,0.000000,17.567083,43.808458,0.0,8,0,1,2,0,0
570,15,1,1,0,147.312931,6917.633360,25.042641,50.224067,76.200534,0.0,2,1,0,1,1,0
232,22,1,1,2,123.379432,8837.632617,20.974881,80.207720,100.037951,0.0,2,1,0,1,1,1
293,71,1,0,2,132.513791,0.000000,22.527780,0.000000,22.167426,0.0,9,0,1,2,0,0
3,53,1,0,1,103.362916,0.000000,17.572185,0.000000,20.001600,0.0,3,1,1,0,0,0
321,59,1,1,2,97.345752,9820.035342,16.546253,79.086174,87.357845,0.0,1,1,1,1,0,0
251,53,1,1,2,111.202395,7143.348881,18.907001,52.797431,80.092282,0.0,2,1,0,2,0,0
499,71,1,1,3,126.094137,8203.212340,21.435890,53.678624,68.363158,0.0,0,1,1,2,0,0
412,16,1,0,0,119.684840,0.000000,20.349198,0.000000,16.577166,0.0,3,1,0,2,0,0
561,71,1,1,0,127.892034,6757.628730,21.739989,66.000786,91.414746,0.0,1,1,1,0,0,0
155,20,0,1,1,0.000000,3613.326248,0.000000,27.654267,54.813388,0.0,4,0,0,2,0,0
308,58,1,0,0,116.013281,0.000000,19.723955,0.000000,21.593518,0.0,9,0,1,2,0,0
441,34,1,1,5,112.409290,7750.506503,19.112980,45.471682,64.577398,0.0,0,0,1,1,0,0
571,4,1,0,3,136.348565,0.000000,23.179175,0.000000,15.079618,0.0,3,1,0,2,0,0

-----------------------------------------------------------------------------------------------

churn value counts on the orig df are...

churn
0        1440
1         496
Name: count, dtype: int64

churn
0        434
1        147
Name: count, dtype: int64

here is the performance breakdown for the model performance for churning versus retained customers

predion_accuracy_by_type
actually retained and predicted being retained    425
actually churned and predicted a churn            101
actually churned but predicted NO churn            46
actually retained but predicted a churn             9
Name: count, dtype: int64

In [60]:
# samp_index_list2 = list(X_test.sample(15).index)
# samp_indexes= X_test.sample(15).index

# display(X_test.loc[samp_indexes])

y_test_df = y_test.to_frame()
y_pred_df =pd.DataFrame(y_pred, columns=["y_pred"])

print("x test type is ",type(X_test))
print("y test df type is ",type(y_test_df))
print("y pred_df type is ",type(y_pred_df))
display(y_pred_df.head())

# test_df = pd.concat([X_test, y_test, y_pred],axis=1)
# display(test_df.head(20))

x test type is  <class 'pandas.core.frame.DataFrame'>
y test df type is  <class 'pandas.core.frame.DataFrame'>
y pred_df type is  <class 'pandas.core.frame.DataFrame'>

   y_pred
0       1
1       1
2       0
3       0
4       0

-----------------
here is the combined
   tenure  phone_services  internet_services  number_customer_service_calls  \
0      71               1                  1                              6
1      11               1                  0                              2
2      11               1                  0                              4
3      53               1                  0                              1
4      55               1                  1                              1

    phone_min  internet_min  phone_monthly_charges  internet_monthly_charges  \
0  123.379432   8563.714647              20.974881                 81.252111
1  113.454469      0.000000              19.286430                  0.000000
2  126.575035      0.000000              21.515946                  0.000000
3  103.362916      0.000000              17.572185                  0.000000
4  137.476201   6032.336112              23.366441                 38.491734

   avg_monthly_bill  churn_surv  cluster  churn_after_treatment  \
0        106.627629         1.0        1                      1
1         19.080099         0.0        3                      1
2         15.599304         0.0        3                      0
3         20.001600         0.0        3                      0
4         61.272852         0.0        0                      0

   gender_encoded  contract_duration_encoded  payment_method_encoded  churn  \
0               1                          1                       2      1
1               1                          0                       0      1
2               1                          1                       2      0
3               1                          1                       0      0
4               0                          1                       1      0

   y_predicted
0            1
1            1
2            0
3            0
4            0
------- now just the X_test head

,tenure,phone_services,internet_services,number_customer_service_calls,phone_min,internet_min,phone_monthly_charges,internet_monthly_charges,avg_monthly_bill,churn_surv,cluster,churn_after_treatment,gender_encoded,contract_duration_encoded,payment_method_encoded
582,71,1,1,6,123.379432,8563.714647,20.974881,81.252111,106.627629,1.0,1,1,1,1,2
901,11,1,0,2,113.454469,0.000000,19.286430,0.000000,19.080099,0.0,3,1,1,0,0
907,11,1,0,4,126.575035,0.000000,21.515946,0.000000,15.599304,0.0,3,0,1,1,2
1754,53,1,0,1,103.362916,0.000000,17.572185,0.000000,20.001600,0.0,3,0,1,1,0
1464,55,1,1,1,137.476201,6032.336112,23.366441,38.491734,61.272852,0.0,0,0,0,1,1

-----------------------------------------------------------------------------------------------

for original df... churn_after_treatment

0    0
1    0
2    0
3    0
4    0
Name: churn_after_treatment, dtype: int64